*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
body
{
    border: 1px solid black;
    padding: 10px;
}
.container
{
    border: 1px solid red;
    height: 600px;
    display: flex;
}

.first_column
{
    border: 1px dotted rgb(4, 255, 25);
    flex-basis: 60%;
    display: grid;
    grid: repeat(4,1fr)/repeat(4,1fr);
    grid-gap: 6px;
    padding: 10px;
    
}
.second_column
{
    border: 1px dotted royalblue;
    flex-basis: 40%;
    display: grid;
}
.a{
    border-radius: 6px;
    overflow:hidden;
}
.a > img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.one{
    border: 1px solid black;
    grid-area:1/1/3/3;

}
.two{
    border: 1px solid black;
    grid-area:1/3/2/4;
   
}
.three{
    border: 1px solid black;
    grid-area:2/3/3/4;
   
}
.four{
    border: 1px solid black;
    grid-area:1/4/3/5;
    
}
.five{
    border: 1px solid black;
    grid-area:3/1/4/2;
    
}
.six{
    border: 1px solid black;
    grid-area:3/2/4/4;
}
.seven{
    border: 1px solid black;
    grid-area:4/1/5/3;
}
.eight{
    border: 1px solid black;
    grid-area:4/3/5/4;
}
.nine{
    border: 1px solid black;
    grid-area:3/4/5/5;
}















