div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: square;
    animation-duration: 2s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
h2{
    text-align: center;
    position: relative;
    top: 35%;
    
    

}

@keyframes square {
    
    0%{
        background-color: red;
        left: 0px;
        top:0px;
    }
    25%{
        background-color: gold;
        left: 50px;
        top: 50px;
        border-radius: 50%;
    }
    50%{
        background-color: lime;
        left:100px ;
        top: 0px;
        border-radius: 0%;
    }
    75%{
        background-color: gray;
        left: 50px;
        top: 50px;
        border-radius: 50%;
    }
    100%{
        background-color: rgb(48, 176, 235);
        left: 0px;
        top:0px;
        border-radius: 0%;
        
    }
}

