*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.container{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.homsmenu{
    width:90%;
    margin-top: 10px;
}
img{
    width:100%;
    border-radius: 30px;
}
.tfsmenu{
    margin-top: 20px;
    width: 90%;
}
.twfmenu{
    margin-top: 20px;
    width:90%;
    
}

p{
    font-size: 2rem;
    font-weight: bold;
}
span{
    color: rgb(243, 145, 55);
    text-shadow: 2px 2px 2px rgba(37, 95, 83, 0.5),
                -2px -2px 2px rgba(0, 0, 0, 0.548)
}
.line{
    border: 1px solid black;
    width: 100%;
    margin-top:5px;
}


